@use './tokens/colors';
@use './tokens/spacing';
@use './mixins/mixins';

body,
html {
  margin: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smooth: antialiased;
  color: colors.$black;
  & .css-qc6sy-singleValue {
    color: colors.$neutral-dark-gray;
  }
  & p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  & h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  & h2 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  & h3 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  & h4 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  & h5 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  & input {
    color: colors.$neutral-dark-gray;
    height: 37px !important;
  }
}

.margin-page {
  margin-top: spacing.$space_x5;
  padding-bottom: spacing.$space_x5;
  width: 100%;
  @include mixins.max-width(800px);
}
