@use 'sass:color';

@use '../tokens/colors';
@use '../tokens/spacing';
@use '../tokens/typography';

@mixin max-width($max-width: spacing.$page-max-width) {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin respond-to($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin card {
  border: 1px solid colors.$gray;
  padding: 0 spacing.$space_half;
  border-radius: spacing.$border_radius;
}

@mixin grid {
  display: grid;
  justify-items: space-between;
}

@mixin grid_center {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

@mixin image_user {
  border-radius: 50%;
  width: spacing.$dimension_image;
  height: spacing.$dimension_image;
}

@mixin create_grid($rows: 1, $columns: 1, $gap: spacing.$space_half) {
  grid-template-rows: repeat($rows, 1fr);
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
}

@mixin grid_container_form() {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 1fr spacing.$space_half 1fr;
  grid-gap: spacing.$space_half;
}

@mixin container_icon_input {
  background-color: white;
  margin-bottom: spacing.$space;
  border-radius: spacing.$border-radius;
  display: flex;
  align-items: center;
}

@mixin container_label_input {
  background-color: white;
  margin-bottom: spacing.$space;
  border-radius: spacing.$border_radius;
  display: grid;
  grid-template-rows: 30px 1fr;
}

@mixin input_icon {
  color: colors.$gray;
  margin-left: spacing.$space_x2;
  border: none;
  border-radius: spacing.$border_radius;
  outline: none;
  &::placeholder {
    color: lighten(colors.$gray, 25%);
  }
}

@mixin inputBorder {
  color: colors.$gray;
  border: 1px solid colors.$neutral-white;
  border-radius: spacing.$border_radius;
  padding: spacing.$space_half;
  outline: none;
  height: 20px;
  &::placeholder {
    color: lighten(colors.$gray, 25%);
  }
}

@mixin button($bg_color, $color) {
  background-color: $bg_color;
  color: $color;
  border: none;
  border-radius: spacing.$big-border-radius;
  padding: spacing.$space_half;
  font-size: typography.$base_fontsize;
  font-weight: typography.$bolder;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

@mixin buttonIcon($bg_color, $color, $colorBorder) {
  background-color: $bg_color;
  color: $color;
  border: 1px solid $colorBorder;
  border-radius: spacing.$border-radius;
  padding: spacing.$space_half spacing.$space;
  font-weight: typography.$bolder;
  &:hover {
    cursor: pointer;
  }
}

@mixin button_filter() {
  background-color: colors.$background-card;
  color: colors.$neutral-dark-gray;
  border: 1px solid colors.$neutral_white;
  border-radius: spacing.$border-radius;
  padding: spacing.$space_half;
  font-weight: typography.$bolder;
  &:hover {
    cursor: pointer;
  }
}

@mixin action_button(
  $bg_color: colors.$action-blue,
  $bg_color_hover: colors.$action-dark-blue,
  $color: colors.$midis-white
) {
}

@mixin tap($background) {
  background-color: $background;
  color: colors.$white;
  width: 90%;
  padding: spacing.$space_half;
  text-align: center;
  font-weight: typography.$bolder;
  &:hover {
    cursor: pointer;
  }
}

@mixin button_next {
  @include button(colors.$blue, colors.$white);
}

@mixin button_cancel {
  @include button(colors.$white, colors.$blue);
}
