//  ..................................................
//  ..................................................
//  .██████..██████..██.......██████..██████..███████.
//  ██......██....██.██......██....██.██...██.██......
//  ██......██....██.██......██....██.██████..███████.
//  ██......██....██.██......██....██.██...██......██.
//  .██████..██████..███████..██████..██...██.███████.
//  ..................................................
//  ..................................................

//brand colors
$gray: #808285;
$gray_login: #B4C4CE;
$blue: #1e8bc3;
$dark-blue: #2769a0;

//basic colors
$white: #f9f9f9;
$black: #1c1d21;

//Action colors
$action-dark-blue: #2869a1;

//Neutral colors
$neutral-dark-gray: #697277;

//Booloans colors
$light-green: #b8e0a4;
$light-red: #f1767a;

//complementary colors
$complementary-blue: #7aa5c8;
$complementary-green: #40beb3;

