//  ..................................................
//  ..................................................
//  .██████..██████..██.......██████..██████..███████.
//  ██......██....██.██......██....██.██...██.██......
//  ██......██....██.██......██....██.██████..███████.
//  ██......██....██.██......██....██.██...██......██.
//  .██████..██████..███████..██████..██...██.███████.
//  ..................................................
//  ..................................................


//brand colors
$gray: #808285;
$gray_item_menu: #9fa0a0;
$gray_label_input: #9b9b9b;
$gray_border_input: #e5e6e7;
$gray_title_description: #707070;
$blue: #1e8bc3;
$dark-blue: #2769a0;
$blue_title: #006bb5;
$blue_info_card: #208bc3;

//action colors
$green: #88c540;
$error: red;

//bollean colors
//background colors

//basic colors
$white: #f9f9f9;
$black: #1c1d21;
$black2: #161616;

//Action colors
$action-blue: #208bc3;
$action-dark-blue: #2869a1;

//Neutral colors
$neutral-gray: #979ea0;
$neutral-dark-gray: #697277;
$neutral-white: #d8d8d8;

//Background colors
$background-white: #ffffff;
$background-card: #f3f3f3;

//Booloans colors
$green: #3ba536;
$light-green: #b8e0a4;
$red: #e41e25;
$light-red: #f1767a;

//complementary colors
$complementary-blue: #7aa5c8;
$complementary-light-blue: #7aa5c8;
$complementary-green: #40beb3;

//Module colors
$documentos-salud: #8d2832;
$antecedentes: #1b876c;
$eventos-salud: #74bf44;
$estudios-diagnosticos: #f7be32;
$tratamiento-salud: #8e44ad;
$internaciones: #0a3043;
$intervenciones: #6bb9f0;
$urgencias: #f26d34;
$consentimientos: #808285;
$bancos-salud: #d91e18;

//profile colors
$personas: #006db8;
$estidades-responsables: #b03685;
$instituciones-salud: #8cb30c;
$profesionales-salud: #0b5793;

//process-personalized
$process-1: #507FDA;
$process-2: #55D4DD;
$process-3: #57CCA2;
$process-4: #AED857;
$process-5: #E7C03C;
$process-6: #DD5555;
$process-7: #966CE0;
$process-8: #D66193;
$process-9: #979EA0;
$process-10: #697277;
