//  ......................................................
//  ......................................................
//  ███████.██████...█████...██████.██.███....██..██████..
//  ██......██...██.██...██.██......██.████...██.██.......
//  ███████.██████..███████.██......██.██.██..██.██...███.
//  .....██.██......██...██.██......██.██..██.██.██....██.
//  ███████.██......██...██..██████.██.██...████..██████..
//  ......................................................
//  ......................................................

//units
$space_half: 5px;
$space: 10px;
$space_x2: 20px;
$space_x3: 30px;
$space_x4: 40px;
$space_x5: 50px;

$page-max-width: 90%;

//Breackpoints
$small: 576px;
$medium: 768px;
$large: 992px;

$dimension_image: 34px;
$border-radius: 4px;
$big-border-radius: 8px;
$circle-border-radius: 50px;
