//  ...............................................................................
//  ...............................................................................
//  ████████.██.██████...██████...██████..██████...█████..██████..██...██.██....██.
//  ...██....██.██...██.██....██.██.......██...██.██...██.██...██.██...██..██..██..
//  ...██....██.██████..██....██.██...███.██████..███████.██████..███████...████...
//  ...██....██.██......██....██.██....██.██...██.██...██.██......██...██....██....
//  ...██....██.██.......██████...██████..██...██.██...██.██......██...██....██....
//  ...............................................................................
//  ...............................................................................

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

$font: "Raleway", sans-serif;

//typos
$h1: 36px;
$h2: 22px;
$h3: 18px;
$base_fontsize: 16px;
$p: 13px;
$button_fontsize: 13px;
$small_fontsize: 11px;

//typo bold
$black: 800;
$bolder: 700;
$medium: 600;
$normal: 500;
$light: 400;

//$color-lightgrey: lighten($color-grey, 25%)  lo aclara un 25%
//%color-darkgrey: darken($color-grey, 25%)    lo oscurece un 25%
